Package: com.forx.nytimesplus
Name: FNYTimes+
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: Add various options to get a better reading experience on The New York Times.
Maintainer: Hugo Kindel <me@hugokindel.xyz>
Author: Hugo Kindel <me@hugokindel.xyz>
Section: Tweaks
