<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerCellClass</key>
			<string>FNYBannerCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>GENERAL</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.forx.nytimespluspref</string>
			<key>key</key>
			<string>GENERAL_ENABLE</string>
			<key>label</key>
			<string>GENERAL_ENABLE</string>
			<key>PostNotification</key>
			<string>com.forx.nytimesplus/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>ARTICLES</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.forx.nytimespluspref</string>
			<key>key</key>
			<string>ARTICLES_ADVERTISEMENTS</string>
			<key>label</key>
			<string>ARTICLES_ADS</string>
			<key>PostNotification</key>
			<string>com.forx.nytimesplus/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.forx.nytimespluspref</string>
			<key>key</key>
			<string>ARTICLE_NEWSLETTERS</string>
			<key>label</key>
			<string>ARTICLES_NEWS</string>
			<key>PostNotification</key>
			<string>com.forx.nytimesplus/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>ABOUT_TWEAK</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>SOURCE_CODE</string>
			<key>icon</key>
			<string>github.png</string>
			<key>action</key>
			<string>openSourceCodePage</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>ABOUT_ME</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>TWITTER</string>
			<key>icon</key>
			<string>twitter.png</string>
			<key>action</key>
			<string>openTwitterPage</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>REDDIT</string>
			<key>icon</key>
			<string>reddit.png</string>
			<key>action</key>
			<string>openRedditPage</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>GITHUB</string>
			<key>icon</key>
			<string>github.png</string>
			<key>action</key>
			<string>openGithubPage</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>PAYPAL</string>
			<key>icon</key>
			<string>paypal.png</string>
			<key>action</key>
			<string>openPaypalPage</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>FNYFooterCell</string>
		</dict>
	</array>
	<key>title</key>
	<string>FNYTimes+</string>
</dict>
</plist>
